# Définissez ici l'URL de votre serveur Backend déployé (ex: Render.com ou VPS)
# En local, vous pouvez laisser vide ou mettre http://localhost:5000/api
VITE_API_URL=https://votre-backend-projet.onrender.com/api
